/*** Google Web Fonts - START ***/

/* quicksand-500 - latin-ext_latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../../webfonts/quicksand-v28-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../webfonts/quicksand-v28-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* quicksand-700 - latin-ext_latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../../webfonts/quicksand-v28-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../webfonts/quicksand-v28-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

/*** Google Web Fonts - END ***/

body > .container {
    padding: 80px 15px 0;
}

.list-group-item {
    padding-left: 8px;
}

.list-inline {
    margin-bottom: 0px;
}

.card-body {
    padding: 0rem 0.25rem 0.25rem 0.25rem;
}

.paper-button {
    margin-top: 0.25rem;
}

.card-text {
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}
.card-title {
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}
.card-footer {
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    background-color: #ffffff;
}

.card-end {
    padding: 0.25rem 0.25rem 0.25rem 0.75rem;
    background-color: rgba(0,0,0,.03);
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.spacer {
    padding-top: 1em;
    padding-bottom: 1em;
    display: block;
}

.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.025);
}

.headline {
    text-transform: uppercase;
    color: #343a40;
}

/* Conference label on paper photo */
.conf-label {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 0;
    width: 64px;
    padding-top: 10px;
    background-color: #0edc8d;
    color: #fff;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    z-index: 1
}

/* Flag at the bottom */
.conf-label::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -38px;
    border: 32px solid #0edc8d;
    border-bottom-color: transparent;
    z-index: -1
}

/* Year under the conference series */
.conf-label span {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    margin: 0
}

/* UNPUBLISHED - Conference label on paper photo */
.conf-label-unpublished {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 0;
    width: 64px;
    padding-top: 10px;
    background-color: #6c757d;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    z-index: 1
}

/* UNPUBLISHED - Flag at the bottom */
.conf-label-unpublished::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -38px;
    border: 32px solid #6c757d;
    border-bottom-color: transparent;
    z-index: -1
}

/* UNPUBLISHED - Year under the conference series */
.conf-label-unpublished span {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    margin: 0
}

/* Paper photo zoom effect */
.card-image-holder {
    position: relative;
    overflow: hidden;
}

.card-image-holder img {
    width: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.card-img-top:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}
